.filter-controls {
  background-color: white;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.filter-controls.closed {
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.filter-mode-switch {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: 2rem;
}

.filter-mode-switch .filter-switch-label {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4rem;
  font-size: 1rem;
  color: #737373;
  font-weight: bold;
}

.filter-mode-switch .switch-label {
  margin: 0 1rem;
}

.show-filters {
  border: none;
  background-image: url('/icons/filter-icon-green.png');
  transition: background-image 150ms;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.show-filters.inactive {
  background-image: url('/icons/filter-icon-grey.png');
  transition: background-image 150ms;
}

.search-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-controls .search-input {
  width: calc(100% - 4.5rem);
  margin-right: .5rem;
}